COMPOSE_PROJECT_NAME=factoryflow
POSTGRES_DB=factoryflow
POSTGRES_USER=factoryflow_app
POSTGRES_PASSWORD=replace_with_a_secure_local_password
POSTGRES_PORT=5432
KAFKA_EXTERNAL_PORT=9092
KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
